/*----------------------------------------------------
------------------------------- Table of Contents ----
------------------------------------------------------

1. Links
    1.1. General Links 
    1.1. Navigation Links
    1.3. Cookie Policy Links
2.Buttons
    2.1. General Button
    2.2. Large Button
    2.3. Navigation Button
    2.4. Burger Button
    2.5. To Top Button
3. Logo
4. Cards
    4.1. Card
    4.2. Card Image
    4.3. Card Caption
    4.4. Card Caption Header
    4.5. Packing Card
5. Horizontal Rule
    5.1. General Hr
    5.2. Checklist Hr
6. Icons
7. Items
    7.1. Item
    7.2. Item Header
    7.3. Item Content
    7.4. Item Image
8. Lists
    8.1. List Items
    8.2. About List
    8.3. Site Map List
9. Accordians
    9.1. Accordian
    9.2. Question
    9.3. Active
    9.4. Answer
10. Forms
    10.1. Input
    10.2. Select
    10.3. Textarea
    10.4. Submit Button
    10.5. Form Error
    10.6. Form Error message
    10.7. Quote Form Label
    10.8. Contact Form Input
11. Checklists
    11.1. Checklist Grid Right Label
    11.2. Checklist Grid Right Paragraph
12. Tabs
    12.1. Size Guide Panes
    12.2. Pane
    12.3. Active Pane
    12.4. Tab Navigation
    12.5. Tab Item
13. Cookie Box

*/

/*------------------------------------ 1. Links ----*/

/*-- 1.1. General Links --*/
a {
    text-decoration: none;
    color: $white;
    cursor: pointer;
}

/*-- 1.2. Navigation Links --*/
.nav-link {
    padding: 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;

    &:hover {
        color: $color4;
        background: $white;
    }
}

/*-- 1.3. Cookie Policy Links --*/
.cookie-policy a {
    color: $color1;
}

/*---------------------------------- 2. Buttons ----*/

/*-- 2.1. General Button --*/
.btn {
    display: inline-block;
    border: none;
    background: $color1;
    color: $white;
    text-transform: uppercase;
    padding: 0.9rem 1.5rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 700;

    &:hover {
        background: darken($color: $color1, $amount: 10%);
    }

    &:active {
        transform: translateY(3px);
    }
}

/*-- 2.2. Large Button --*/
.btn-large {
    @extend button;
    margin-top: 2rem;
    padding: 1.5rem 2rem;
    animation: btn-translate 1s linear 1;
}

/*-- 2.3. Navigation Button --*/
.nav__btn {
    margin-left: 1.5rem;
}

/*-- 2.4. Burger Button --*/
.burger-btn {
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: none;

    &:focus,
    &:active,
    &:hover {
        border: none;
        outline: none;
    }
}

.no-scroll {
    overflow: hidden;
}

/*-- 2.5. To Top Button --*/
.btn-to-top {
    display: none;
    position: fixed;
    background: $color1;
    right: 10px;
    bottom: 10px;
    line-height: 0.5rem;
    padding: 1rem;
}

/*------------------------------------- 3. Logo ----*/
.navbar-inner__logo {
    width: 150px;
    height: auto;
}

/*------------------------------------ 4. Cards ----*/

/*-- 4.1. Card --*/
.card {
    height: auto;
    width: 100%;
    min-width: 250px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 $grey;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 8px 16px 0 $grey;
        background: $color1;
    }

    &:hover .card__caption {
        color: $white;
    }
}

/*-- 4.2. Card Image --*/
.card__img {
    overflow: hidden;

    & img {
        width: 100%;
        height: auto;
    }
}

/*-- 4.3. Card Caption --*/
.card__caption {
    padding: 1.2rem;
    color: $grey;
}

/*-- 4.4. Card Caption Header --*/
.card__caption__header {
    margin-bottom: 1rem;
    font-weight: normal;
}

/*-- 4.5. Packing Card --*/
.card--packing {
    cursor: default;
    box-shadow: none;
    border: 1px solid $light-grey;
    overflow: hidden;

    & h3 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &:hover {
        box-shadow: none;
        background: $white;
    }

    &:hover .card__caption {
        background: $white;
        color: $grey;
    }
}

/*-------------------------- 5. Horizontal Rule ----*/

/*-- 5.1. General Hr --*/
hr {
    grid-column: span 12;
    width: 80%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.178);
}

/*-- 5.2. Checklist Hr --*/
.checklist__hr {
    width: 100%;
    margin: 2rem 0;
}

/*------------------------------------ 6. Icons ----*/
.footer__top-icon {
    width: 50px;
    height: 50px;
    margin-left: 1rem;

    &:first-of-type {
        margin-left: 0;
    }
}

/*------------------------------------ 7. Items ----*/

/*-- 7.1. Item --*/
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    background: $color4;
    color: $white;
    border-radius: 0 10rem 10rem 10rem;
}

/*-- 7.2. Item Header --*/
.item__header {
    position: absolute;
    top: 10px;
    left: 10px;
}

/*-- 7.3. Item Content --*/
.item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 1rem;
    padding: 0 3rem;
    background: $color4;
    color: $white;
    border-radius: 10rem;
}

/*-- 7.4. Item Image --*/
.item__img {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}

/*------------------------------------ 8. Lists ----*/

/*-- 8.1. List Items --*/
li {
    line-height: 1.3rem;
}

/*-- 8.2. About List --*/
.about__list li {
    list-style: disc;
}

/*-- 8.3. Site Map List --*/
.sitemap__list a {
    color: $grey;
    line-height: 3rem;
    text-decoration: underline;

    &:hover {
        color: $color1;
    }
}

/*------------------------------- 9. Accordians ----*/

/*-- 9.1. Accordian --*/
.accordian {
    max-width: $max-width;
    margin: 0 auto;
    color: $white;
}

/*-- 9.2. Question --*/
.question {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-weight: bold;
    background: $color1;
    position: relative;
    cursor: pointer;

    &:first-of-type {
        margin-top: 0;
    }
}

.question:after {
    content: "\002B";
    font-weight: bold;
    font-size: 1.5rem;
}

/*-- 9.3. Active --*/
.active:after {
    content: "\2212";
}

.active,
.active:after,
.question:hover,
.question:hover:after {
    background: darken($color: $color1, $amount: 10%);
    color: $white;
}

/*-- 9.4. Answer --*/
.answer {
    padding: 1rem 2rem;
    background: $color5;

    & ul {
        margin: 1rem 0;
    }
}

/*----------------------------------- 10. Forms ----*/

/*-- 10.1. Input --*/
input {
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid $grey;
    padding-left: 1rem;
    background: $color5;

    &:focus {
        background: darken($color: $color5, $amount: 10%);
    }

    &[type="checkbox"],
    &[type="checkbox"]:focus {
        background: transparent;
    }
}

/*-- 10.2. Select --*/
select {
    @extend input;
}

/*-- 10.3. Textarea --*/
textarea {
    @extend input;
    height: 150px;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
}

/*-- 10.4. Submit Button --*/
button[type="submit"] {
    width: 100%;
}

/*-- 10.5. Form Error --*/
.form-error {
    border-bottom: 1px solid red;
}

/*-- 10.6. Form Error Message --*/
.form-error-msg {
    color: red;
}

/*-- 10.7. Quote Form Label --*/
.quote-form label {
    margin-top: 2rem;
}

/*-- 10.8. Contact Form Input --*/
.contact-form input {
    margin: 0 0 2rem 0;
}

/*------------------------------ 11. Checklists ----*/

/*-- 11.1. Checklist Grid Right Label --*/
.checklist__grid__right input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

/*-- 11.2. Checklist Grid Right Paragraph --*/
.checklist__grid__right input[type="checkbox"]:checked + label + p {
    text-decoration: line-through;
}

/*------------------------------------ 12. Tabs ----*/

/*-- 12.1. Size Guide Panes --*/
.size-guide__panes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;

    & img {
        width: 100%;
        height: auto;
    }

    & h3 {
        margin-top: 2rem;
    }
}

/*-- 12.2. Pane --*/
.pane {
    display: none;
}

/*-- 12.3. Active Pane --*/
.pane-active {
    display: block;
    background: $white;

    & a {
        color: $color3;
    }

    & a:hover {
        color: $white;
    }
}

/*-- 12.4. Tab Navigation --*/
.tab-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    height: 100%;
    cursor: pointer;
}

/*-- 12.5. Tab Item --*/
.tab-item {
    grid-column: 1 / 2;
    grid-row: span 1;
    font-weight: bold;

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &:hover {
        background: darken($color: $color3, $amount: 10%);
    }
}

/*------------------------------ 13. Cookie Box ----*/
.cookie {
    width: 200px;
    height: 150px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background: $white;
    text-transform: uppercase;
    font-weight: bold;
    border: 6px solid $color1;
    box-shadow: 0 4px 8px 0 $grey;

    & a {
        color: $color1;
    }
}
