/*----------------------------------------------------
------------------------------- Table of Contents ----
------------------------------------------------------

1. Page Templates
    1.1. Home Page Template
2. Navigation
    2.1. Navbar Top
    2.2. Navbar Bottom
    2.3. Navbar Container
    2.4. Navbar Menu
3. Home Page Sections
    3.1. Hero Section
    3.2. Hero Container

*/


/*--------------------------- 1. Page Templates ----*/

/*-- 1.1. Home Page Template --*/
.body-home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


/*------------------------------- 2. Navigation ----*/

/*-- 2.1. Navbar Top --*/
.navbar__top {
    grid-column: span 12;
    padding: 0 2rem;
}

/*-- 2.2. Navbar Bottom --*/
.navbar__bottom {
    grid-column: span 12;
    padding: 0 2rem;
}

/*-- 2.3. Navbar Container --*/
.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem auto;
    max-width: 1200px;
}

/*-- 2.4. Navbar Menu --*/
.navbar__nav {
    display: flex;
    align-items: center;
}


/*----------------------- 3. Home Page Sections ----*/

/*-- 3.1. Hero Section ----*/
.hero {
    grid-column: span 12;
}

.hero__container-outer {
    padding: 0 2rem;
}

/*-- 3.2. Hero Container --*/
.hero__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6rem auto;
    max-width: 1200px;
}

/*-- Services Section --*/
.services {
    grid-column: span 12;
    height: 5500px;
    background: $color5;
}