$color1: rgba(215, 7, 93, 1);
$color2: rgba(172, 128, 160, 1);
$color3: rgba(52, 89, 149, 1);
$color4: rgba(25, 25, 35, 1);
$color5: rgba(137, 170, 230, 1);

$white: #ffffff;
$grey: #353535;
$light-grey: #9b9b9b;

$color1-opac: rgba(221, 110, 66, 0.836);
$color4-opac: rgba(22, 50, 79, 0.877);
$grey-opac: rgba(0, 0, 0, 0.733);

$max-width: 1200px;