$color1: #d7075d;
$color2: #ac80a0;
$color3: #345995;
$color4: #191923;
$color5: #89aae6;

$white: #ffffff;
$grey: #353535;
$light-grey: #9b9b9b;

$color4-opac: rgba(25, 25, 35, 0.877);
$grey-opac: rgba(0, 0, 0, 0.733);

$max-width: 1200px;