@import "variables", "mixins", "layout", "components", "animations",
    "media-queries";

/*----------------------------------------------------
------------------------------- Table of Contents ----
------------------------------------------------------

1. Universal
2. Body
3. Navigation
    3.1. Navbar Top
    3.2. Navbar Bottom
    3.3. Navbar Phone
4. Home Page
    4.1. Hero Section

*/

/*-------------------------------- 1. Universal ----*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*------------------------------------- 2. Body ----*/
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

/*------------------------------- 3. Navigation ----*/

/*-- 3.1. Navbar Top --*/
.navbar__top {
    background: $color1;
    color: $grey;
}

/*-- 3.2. Navbar Bottom --*/
.navbar__bottom {
    background: $color4;
    color: $white;
}

/*-- 3.3. Navbar Phone --*/
.navbar__phone {
    color: $white;
    font-weight: bold;
}

/*-------------------------------- 4. Home Page ----*/

/*-- 4.1. Hero --*/
.hero {
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient($grey-opac),
        url("/src/images/1.jpg") center center no-repeat;
    background-size: cover;
    animation: bg-scale 20s linear infinite;
}

/*-- 4.2. Services --*/

.services {
    background: $white;
    
}

/*-- 4.3. About --*/
.about {
  background: $color4;
}
