@import "variables", "mixins", "layout", "components", "media-queries";

/*----------------------------------------------------
------------------------------- Table of Contents ----
------------------------------------------------------

1. Universal
2. Body
3. Navbar
    3.1. Navbar Top
    3.2. Navbar Bottom
    3.3. Navbar Phone
4. Home Page
    4.1. Hero Section

*/

/*-- Universal --*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*-- Body --*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/*-- Navbar --*/
.navbar__top {
    background: $color1;
    color: $grey;
}

.navbar__bottom {
    background: $color4;
    color: $white;
}

.navbar__phone {
    color: $white;
    font-weight: bold;
}

/*-- Hero --*/
.hero {
    background: url("/src/images/1.jpg") center center no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}
