/*----------------------------------------------------
------------------------------- Table of Contents ----
------------------------------------------------------

1. Grid Mixins
2. Flex Mixins

*/
/*-- Grid Template (1 Column) --*/
/*-- Grid Template (4 Columns) --*/
/*--  --*/
/*--  --*/
/*----------------------------------------------------
------------------------------- Table of Contents ----
------------------------------------------------------

1. Page Templates
    1.1. 12 Column Template

2. Navigation
    2.1. Navbar Top
    2.2. Navbar Bottom
    2.3. Navbar Container
    2.4. Navbar Menu

3. Home Page Sections
    3.1. Hero Section
        3.1.1. Hero
        3.1.2. Hero Container
        3.1.3. Hero Container Inner
    3.2. Services Section
        3.2.1. Services
        3.2.2. Services Container
    3.3. How It Works Section
        3.3.1. How It Works
        3.3.2. How It Works Container
    3.4. About Section
        3.4.1. About
        3.4.2. About Container
        3.4.3. About Image
        3.4.4. About Info


*/
/*--------------------------- 1. Page Templates ----*/
/*-- 1.1. 12 Column Template --*/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

/*------------------------------- 2. Navigation ----*/
/*-- 2.1. Navbar Top --*/
.navbar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
  padding: 0;
}

.navbar__inner {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__top, .navbar__bottom {
  padding: 0.5rem 1rem 0.5rem 1.8rem;
}

/*-- 2.2. Navbar Bottom --*/
/*-- 2.4. Navbar Menu --*/
.navbar__bottom__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*----------------------- 3. Home Page Sections ----*/
/*----------------- 3.1. Hero Section ----*/
/*-- 3.1.1. Hero ----*/
.hero {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
  position: relative;
  padding: 0;
}

/*-- 3.1.2. Hero Container --*/
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 2rem;
}

/*------------- 3.2. Services Section ----*/
/*-- 3.2.1. Services --*/
.services {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

/*-- 3.2.2. Services Container --*/
.services__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*----------- 3.3. How It Works Section --*/
/*-- 3.3.1. How It Works --*/
.how-works {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

/*-- 3.3.2. How It Works Container --*/
.how-works__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 10% 0 10%;
}

/*------------------ 3.4. Info Section --*/
/*-- 3.4.1. Info --*/
.info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

/*-- 3.4.2. Info Container --*/
.info__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/*-- 3.4.3. Info Image --*/
.info__inner__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.info__inner__img img {
  width: 100%;
  height: auto;
}

/*-- 3.4.4. Info Text --*/
.info__inner__text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-left: 2rem;
}

.info__inner__text h3 {
  margin-bottom: 2rem;
  color: #a60548;
}

.info__inner__text p:first-of-type {
  margin-bottom: 1rem;
  font-weight: bold;
}

/*------------------ 3.5. Size Guide Section --*/
.size-guide {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

.size-guide__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.size-guide__panes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.size-guide__tabs {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

/*-------------- 4. House Storage Page Sections ----*/
/*----------------- 4.1. Header Section --*/
.storage {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.storage__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 1200px;
}

.storage__inner__info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin-right: 2rem;
}

.storage__inner__info h1, .storage__inner__info h2, .storage__inner__info h3 {
  margin-bottom: 2rem;
}

.storage__inner__info p:first-of-type {
  margin-bottom: 1rem;
}

.storage__inner__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);
}

.storage__inner__img img {
  width: auto;
  height: 100%;
}

/*---------------- 4.2. Why Us? Section --*/
.why-us {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

.why-us__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.why-us__inner h3, .why-us__inner p {
  text-align: center;
}

.why-us__inner__lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.why-us__inner__lists ul {
  padding: 1rem;
  margin: 0 auto;
}

.why-us__inner__lists ul li {
  background: url("../../images/custom-icons/email.svg") no-repeat;
  background-position: left center;
  padding: 10px 10px 10px 40px;
}

/*---------------- 4.3. Access Section --*/
.access {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.access p:last-of-type {
  margin: 1rem 0;
}

/*---------------- 4.4. Flexible Section --*/
.flexible {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

.flexible__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.flexible__inner__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.flexible__inner__img img {
  width: 100%;
  height: auto;
}

.flexible__inner__info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-left: 2rem;
}

.flexible__inner__info p {
  margin-bottom: 1rem;
}

.flexible__inner__info :last-of-type {
  margin-bottom: 0;
}

/*---------------- 4.5. Security Section --*/
.security {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.security p:first-of-type {
  margin-bottom: 1rem;
}

/*---------------- 4.6. Quote Section --*/
.quote {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
  text-align: center;
}

.quote p {
  margin-bottom: 2rem;
}

/*------------------------ 4. FAQ Page Sections ----*/
.faq {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

.faq__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.faq__inner h1, .faq__inner h2, .faq__inner h3 {
  margin-bottom: 4rem;
}

/*------------------------ 4. Quote Page Sections ----*/
.quote-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.quote-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
  text-align: right;
}

.quote-info p {
  margin-top: 1rem;
}

.quote-form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  padding: 4rem 2rem;
}

.quote-form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left, .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-right: 2rem;
}

.right {
  padding-right: 0;
}

/*----------- 4. Packing Supplies Page Sections ----*/
/*-- 3.2.1. Packing --*/
.packing {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

/*-- 3.2.2.  Container --*/
.packing__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*---------------------- 4. About Page Sections ----*/
.about {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

.about__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.about__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.about__info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin-right: 2rem;
}

.about__info p:first-of-type {
  margin-bottom: 1rem;
}

.about__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 100%;
  height: auto;
}

.about__img img {
  width: 100%;
  height: auto;
}

.about__middle {
  margin-top: 4rem;
}

.about__middle p {
  margin-bottom: 1rem;
}

.about__middle ul {
  margin-bottom: 1rem;
  padding-left: 3rem;
}

.about__middle p:last-of-type {
  margin-bottom: 0;
}

.about__bottom {
  padding: 4rem 2rem;
  text-align: center;
}

.about__bottom p {
  margin-bottom: 2rem;
}

.about__list {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

/*---------------------- 4. Checklist Page Sections ----*/
.checklist {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

.checklist__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.checklist__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

.checklist__grid__left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.checklist__grid__right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.checklist__grid__right input[type="checkbox"], .checklist__grid__right select[type="checkbox"], .checklist__grid__right textarea[type="checkbox"] {
  margin: 0 10px 0 0;
  width: 15px;
  height: 15px;
}

.checklist__grid__right p {
  margin: 2rem 0;
}

.checklist__grid__right p:last-child {
  margin-bottom: 0;
}

.checklist__item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

/*---------------------- 4. Checklist Page Sections ----*/
.sitemap {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

.sitemap__inner {
  max-width: 1200px;
  margin: 0 auto;
}

/*---------------------- 4. Contact Page Sections ----*/
.contact {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

.contact__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.contact-form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  padding: 2rem;
}

.contact-info {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  padding: 2rem;
}

.contact-map {
  width: 100%;
  height: 500px;
}

/*---------------------- 4. Error 404 Page Sections ----*/
.error-404 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.error-404__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.error-404__inner p {
  margin: 2rem 0;
}

/*----------------------------------- ?. Footer ----*/
.footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem 2rem;
}

/*--------------------- ?.?. Footer Top --*/
.footer__top, .footer__middle, .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/*-- ?.?.?. Footer Top Left --*/
.footer__top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top__left span {
  margin-left: 0.5rem;
}

.footer__top__left span:first-of-type {
  margin-right: 0.8rem;
}

/*------------------ ?.?. Footer Middle --*/
.footer__middle {
  padding: 4rem 0;
}

/*-- ?.?.?. Footer Middle Links --*/
.footer__middle__links {
  margin-left: 2rem;
}

.footer__middle__links:first-of-type {
  margin-left: 0;
}

.footer__middle__links h3 {
  margin-bottom: 1.5rem;
}

.footer__middle__links ul li {
  line-height: 1.7rem;
}

.footer__middle__links a:hover {
  text-decoration: underline;
}

/*------------------ ?.?. Footer Bottom --*/
/*----------------------------------------------------
------------------------------- Table of Contents ----
------------------------------------------------------

1. Links
    1.1. Nav Links
2.Buttons
    2.1. Nav Button
    2.2. Burger Button
3. Logo

*/
/*------------------------------------ 1. Links ----*/
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

/*-- 1.1. Nav Links --*/
.nav-link {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
}

.nav-link:hover {
  color: #191923;
  background: #ffffff;
}

/*---------------------------------- 1. Buttons ----*/
.btn {
  display: inline-block;
  border: none;
  background: #d7075d;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.9rem 1.5rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.btn:hover {
  background: #a60548;
}

.btn:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

/*-- 2.1. Large Button --*/
.btn-large {
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  -webkit-animation: btn-translate 1s linear 1;
          animation: btn-translate 1s linear 1;
}

/*-- 2.1. Nav Button --*/
.nav__btn {
  margin-left: 1.5rem;
}

/*-- 2.2. Burger Button --*/
.burger-btn {
  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
}

.burger-btn:focus, .burger-btn:active, .burger-btn:hover {
  border: none;
  outline: none;
}

/*-- To Top Button --*/
.btn-to-top {
  display: none;
  position: fixed;
  background: #d7075d;
  right: 10px;
  bottom: 10px;
  line-height: 0.5rem;
  padding: 1rem;
}

/*------------------------------------- 3. Logo ----*/
.navbar-inner__logo {
  width: 150px;
  height: auto;
}

/*------------------------------------ 5. Cards ----*/
.card {
  height: auto;
  width: 100%;
  min-width: 250px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 #353535;
          box-shadow: 0 4px 8px 0 #353535;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 #353535;
          box-shadow: 0 8px 16px 0 #353535;
  background: #d7075d;
}

.card:hover .card__caption {
  color: #ffffff;
}

.card__img {
  overflow: hidden;
}

.card__img img {
  width: 100%;
  height: auto;
}

.card__caption {
  padding: 1.2rem;
  color: #353535;
}

.card__caption__header {
  margin-bottom: 1rem;
  font-weight: normal;
}

.card--packing {
  cursor: default;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #9b9b9b;
  overflow: hidden;
}

.card--packing h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.card--packing:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ffffff;
}

.card--packing:hover .card__caption {
  background: #ffffff;
  color: #353535;
}

/*-------------------------- 6. Horizontal Rule ----*/
hr {
  grid-column: span 12;
  width: 80%;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.178);
}

.checklist__hr {
  width: 100%;
  margin: 2rem 0;
}

/*-------------------------- 7. Icons ----*/
.footer__top-icon {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
}

.footer__top-icon:first-of-type {
  margin-left: 0;
}

/*-------------------------- 8. Item ----*/
.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  background: #191923;
  color: #ffffff;
  border-radius: 0 10rem 10rem 10rem;
}

.item__header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 1rem;
  padding: 0 3rem;
  background: #191923;
  color: #ffffff;
  border-radius: 10rem;
}

.item__img {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

/*-------------------------- 8. Lists ----*/
li {
  line-height: 1.3rem;
}

.about__list li {
  list-style: disc;
}

.sitemap__list a {
  color: #353535;
  line-height: 3rem;
  text-decoration: underline;
}

.sitemap__list a:hover {
  color: #d7075d;
}

/*---------------------- 8. Accordian ----*/
.accordian {
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-weight: bold;
  background: #d7075d;
  position: relative;
  cursor: pointer;
}

.question:first-of-type {
  margin-top: 0;
}

.question:after {
  content: "\002B";
  font-weight: bold;
  font-size: 1.5rem;
}

.active:after {
  content: "\2212";
}

.active,
.active:after,
.question:hover,
.question:hover:after {
  background: #a60548;
  color: #ffffff;
}

.answer {
  padding: 1rem 2rem;
  background: #89aae6;
}

.answer ul {
  margin: 1rem 0;
}

/*--------------------------- 8. Form ----*/
input, select, textarea {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #353535;
  margin-bottom: 2rem;
  padding-left: 1rem;
  background: #89aae6;
}

input:focus, select:focus, textarea:focus {
  background: #5f8cdd;
}

input[type="checkbox"], select[type="checkbox"], textarea[type="checkbox"], input[type="checkbox"]:focus, select[type="checkbox"]:focus, textarea[type="checkbox"]:focus {
  background: transparent;
}

textarea {
  height: 150px;
  padding: 0.5rem 1rem;
}

button[type="submit"], .btn-large[type="submit"] {
  width: 100%;
}

/*---------------------- 8. Checklist ----*/
.checklist__grid__right input[type="checkbox"]:checked + label, .checklist__grid__right select[type="checkbox"]:checked + label, .checklist__grid__right textarea[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.checklist__grid__right input[type="checkbox"]:checked + label + p, .checklist__grid__right select[type="checkbox"]:checked + label + p, .checklist__grid__right textarea[type="checkbox"]:checked + label + p {
  text-decoration: line-through;
}

/*--------------------------- 8. Tabs ----*/
.pane {
  display: none;
}

.pane.pane-active {
  display: block;
}

.size-guide__tabs ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@-webkit-keyframes bg-scale {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes bg-scale {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes btn-translate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes btn-translate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes header-translate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes header-translate {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 575px) {
  .hero h1, .hero h2, .hero h3 {
    font-size: 12vw;
  }
  h2 {
    font-size: 2rem;
  }
  .footer__top__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top__left .footer__top-icon {
    margin-bottom: 0.5rem;
  }
  .footer__top__left span {
    margin-left: 0rem;
  }
  .footer__top__left span:first-of-type {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .footer__top-icon {
    margin: 0;
  }
  .quote-form__inner {
    display: block;
  }
  .left, .right {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .how-works__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .how-works {
    margin: 4rem 0;
    padding: 0;
  }
  .how-works h2 {
    margin: 0 2rem;
  }
  .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .why-us__inner {
    padding: 0;
  }
  .why-us__inner__lists {
    display: block;
    margin-top: 2rem;
  }
  .why-us__inner__lists ul {
    padding: 0;
  }
  .packing__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checklist {
    padding: 4rem 0;
  }
  .checklist__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .checklist__grid__left {
    margin-bottom: 2rem;
  }
  .checklist__grid__right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

@media (max-width: 991px) {
  .burger-btn {
    display: block;
    z-index: 2;
    position: absolute;
    right: 32px;
    top: 55px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .burger-btn:checked + .burger-label .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 15px;
  }
  .burger-btn:checked + .burger-label .middle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -8px;
  }
  .burger-btn:checked + .burger-label .bottom {
    opacity: 0;
  }
  .burger-btn:checked + .burger-label + .navbar__bottom__nav {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  .burger-label {
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 35px;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background-color: #ffffff;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .navbar__bottom__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background: rgba(22, 50, 79, 0.877);
    height: 100vh;
    width: 100vw;
    top: -100vh;
    left: 0px;
    z-index: 1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .nav-item {
    margin: 1.5rem 0;
  }
  .nav__btn {
    margin-left: 0;
  }
  .info__inner__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .info__inner__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin: 2rem 0 0 0;
  }
  .storage__inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .storage__inner__info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin: 0 0 2rem 0;
  }
  .storage__inner__info h1, .storage__inner__info h2, .storage__inner__info h3 {
    font-size: 2.5rem;
  }
  .storage__inner__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .about__info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin: 0 0 2rem 0;
  }
  .about__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .about__list {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .flexible__inner__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .flexible__inner__info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin: 1rem 0 0 0;
  }
  .contact-form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .contact-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .footer__top, .footer__middle, .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__top__left {
    margin-bottom: 1.5rem;
  }
  .footer__middle__links {
    margin: 1rem 0;
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .services__inner {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .how-works__inner {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .packing__inner {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 40px;
  }
  .quote-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quote-info {
    text-align: left;
  }
}

/*--------------------------------------------------------------------------------------*/
@media (min-width: 576px) {
  .hero h1, .hero h2, .hero h3 {
    font-size: 10vw;
  }
}

@media (min-width: 992px) {
  .hero h1, .hero h2, .hero h3 {
    font-size: 8vw;
  }
}

@media (min-width: 1200px) {
  .hero h1, .hero h2, .hero h3 {
    font-size: 6vw;
  }
}

/*--------------------------------------------------------------------------------------*/
@media print {
  nav,
  header,
  footer {
    display: none !important;
  }
}

/*----------------------------------------------------
------------------------------- Table of Contents ----
------------------------------------------------------

1. Universal
2. Body
3. Text
    3.1. Headers
    3.2. Paragraph
    3.3. Small
4. Navigation
    4.1. Navbar Top
    4.2. Navbar Bottom
    4.3. Navbar Phone
5. Home Page
    5.1. Hero Section
    5.2. About Section

*/
/*-------------------------------- 1. Universal ----*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*------------------------------------- 2. Body ----*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #353535;
  text-rendering: optimizeLegibility;
}

/*------------------------------------- 3. Text ----*/
/*-- 3.1. Headers --*/
h1, h2, h3 {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.header-top, .header-middle, .header-bottom {
  -webkit-animation: header-translate 1s linear 1;
          animation: header-translate 1s linear 1;
}

/*-- 3.2. Paragraph --*/
p {
  line-height: 1.5rem;
}

/*-- 3.3. Small --*/
small {
  font-size: 0.8rem;
}

/*------------------------------- 4. Navigation ----*/
/*-- 4.1. Navbar Top --*/
.navbar__top, .navbar__bottom {
  background: #d7075d;
  color: #191923;
}

/*-- 4.2. Navbar Bottom --*/
.navbar__bottom {
  background: #191923;
  color: #ffffff;
}

/*-- 4.3. Navbar Phone --*/
.navbar-inner__phone {
  color: #ffffff;
  font-weight: bold;
}

/*-------------------------------- 5. Home Page ----*/
/*-- 5.1. Hero Section --*/
.hero {
  overflow: hidden;
  color: #ffffff;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.733))), url("../../images/units.jpg") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.733)), url("../../images/units.jpg") center center no-repeat;
  background-size: cover;
  -webkit-animation: bg-scale 20s linear infinite;
          animation: bg-scale 20s linear infinite;
}

/*-- 5.2. Info Section --*/
.info {
  background: #89aae6;
}

/*-- 5.2. Size Guide Section --*/
.size-guide__tabs {
  background: #345995;
}

/*----------------------- 6. House Storage Page ----*/
.why-us {
  background: #345995;
  color: #ffffff;
}

.flexible {
  background: #345995;
  color: #ffffff;
}

.quote {
  background: #89aae6;
}

/*-------------------------------- 5. Quote Page ----*/
.quote-form {
  background: #89aae6;
}

/*-------------------------------- 5. About Page ----*/
.about__bottom {
  background: #89aae6;
}

/*-------------------------------- 5. Checklist Page ----*/
.checklist label {
  font-weight: bold;
}

/*-------------------------------- 5. Contact Page ----*/
.contact-form {
  background: #89aae6;
}

.contact-info {
  background: #191923;
  color: #ffffff;
}

.contact-map {
  background: #89aae6;
}

/*-------------------------------- 5. Error 404 Page ----*/
.error-404 {
  background: #191923;
  color: #ffffff;
}

/*-------------------------------- 5. Footer ----*/
footer {
  background: #191923;
  color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */